<footer class="text-white bg-dark" style="margin-top: 1px;">
    <div class="container py-4 py-lg-5">
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                <h3 class="fs-6 text-white">Services</h3>
                <ul class="list-unstyled">
                    <li><a class="link-light" href="#">Web design</a></li>
                    <li><a class="link-light" href="#">Development</a></li>
                    <li><a class="link-light" href="#">Hosting</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                <h3 class="fs-6 text-white">About</h3>
                <ul class="list-unstyled">
                    <li><a class="link-light" href="#">Company</a></li>
                    <li><a class="link-light" href="#">Team</a></li>
                    <li><a class="link-light" href="#">Legacy</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                <h3 class="fs-6 text-white">Careers</h3>
                <ul class="list-unstyled">
                    <li><a class="link-light" href="#">Job openings</a></li>
                    <li><a class="link-light" href="#">Employee success</a></li>
                    <li><a class="link-light" href="#">Benefits</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center pt-3">
            <p class="mb-0">Computacion en la Nube 2024</p>
            <ul class="wrapper">
                <li class="icon facebook">
                  <span class="tooltip">Facebook</span>
                  <span><i class="fab fa-facebook-f"></i></span>
                </li>
                <li class="icon twitter">
                  <span class="tooltip">Twitter</span>
                  <span><i class="fab fa-twitter"></i></span>
                </li>
                <li class="icon instagram">
                  <span class="tooltip">Instagram</span>
                  <span><i class="fab fa-instagram"></i></span>
                </li>
                <li class="icon github">
                  <span class="tooltip">Github</span>
                  <span><i class="fab fa-github"></i></span>
                </li>
                <li class="icon youtube">
                  <span class="tooltip">Youtube</span>
                  <span><i class="fab fa-youtube"></i></span>
                </li>
              </ul>
        </div>
    </div>
</footer>
