<nav class="vertical-navbar">
  <div class="navbar-content">
    <!-- Logo o título del navbar -->
    <div class="navbar-header">
      <h2>Notas App</h2>
    </div>

    <!-- Buscador -->
    <div class="navbar-search">
      <input type="text" class="form-control" placeholder="Buscar notas..." />
    </div>

    <!-- Botón para crear una nota -->
    <!-- Botón para crear una nota -->
    <button class="btn btn-primary" routerLink="/dashboard/dash2">Crear Nota</button>


    <!-- Links adicionales, si es necesario -->
    <div class="navbar-links">
      <a routerLink="/dashboard/ListaNotas">Ver Todas las Notas</a>
      <a routerLink="/favoritas">Favoritas</a>
    </div>
  </div>
</nav>