.vertical-navbar {
    top: 60px; /* Ajusta este valor según la altura de tu navbar principal */
    left: 0;
    width: 250px; /* Ancho del navbar vertical */
    height: calc(90vh - 100px); /* Ajusta la altura para que no se superponga al navbar principal */
    background-color: #f8f9fa; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    display: flex;
    flex-direction: column; /* Orientación vertical */
    justify-content: flex-start; /* Alineación en la parte superior */
    z-index: 100; /* Asegúrate de que no supere el z-index del navbar principal */
  }
  

  
  .navbar-header {
    font-size: 24px; /* Tamaño de la fuente del título */
    text-align: center; /* Centra el título */
    margin-bottom: 20px; /* Espaciado inferior */
  }
  
  .navbar-search {
    margin-bottom: 20px; /* Espaciado entre elementos */
  }
  
  .navbar-buttons {
    margin-bottom: 20px; /* Espaciado entre elementos */
  }

  .navbar-links a {
    display: block; /* Hace que los enlaces ocupen toda la línea */
    padding: 10px; /* Espaciado interno */
    text-decoration: none; /* Sin subrayado */
    color: #333; /* Color del texto */
  }
  
  .navbar-links a:hover {
    background-color: #e9ecef; /* Color de fondo al pasar el mouse */
  }
  