<div class="container" id="Mem" style="margin-top: 50px;">
  <h1 class="text-center pt-3">MEMBRESÍAS</h1>
  <div class="card-group membresias">
    <!-- Personal Card -->
    <div class="card text-center m-2" style="border-radius: 20px;">
      <div class="card-body">
        <h4 class="fs-2 card-title">PERSONAL</h4>
        <p class="fs-4"><strong>S/ 10.00</strong><sub><strong>/Mes</strong></sub></p>
        <p class="fs-6">Paga S/ 120.00<sub>/Año</sub></p>
        <a class="btn btn-dark" role="button" routerLink="/login-registro">Suscribirse</a>
        <p class="card-text pt-3 text-start">
          - Crear hasta 10k Notas<br>
          - Dispositivos conectados Ilimitados<br>
          - Tamaño máximo de nota 200Mb
        </p>
      </div>
    </div>
    <!-- Profesional Card -->
    <div class="card text-center m-2" style="border-radius: 20px;">
      <div class="card-body">
        <h4 class="fs-2 card-title">PROFESIONAL</h4>
        <p class="fs-4"><strong>S/ 20.00</strong><sub><strong>/Mes</strong></sub></p>
        <p class="fs-6">Paga S/ 240.00<sub>/Año</sub></p>
        <a class="btn btn-dark" role="button" routerLink="/login-registro">Suscribirse</a>
        <p class="card-text pt-3 text-start">
          Incluye Todo lo de Personal más:<br>
          - 10Gb de subidas mensuales<br>
          - Convertir notas a PDF<br>
          - Tamaño Ilimitado en notas
        </p>
      </div>
    </div>
    <!-- Master Card -->
    <div class="card text-center m-2" style="border-radius: 20px;">
      <div class="card-body">
        <h4 class="fs-2 card-title">MASTER</h4>
        <p class="fs-4"><strong>S/ 30.00</strong><sub><strong>/Mes</strong></sub></p>
        <p class="fs-6">Paga S/ 360.00<sub>/Año</sub></p>
        <a class="btn btn-dark" role="button" routerLink="/login-registro">Suscribirse</a>
        <p class="card-text pt-3 text-start">
          Incluye Todo los planes Anteriores más:<br>
          - 20Gb de subidas mensuales<br>
          - Crear hasta 50k notas<br>
          - Contacto con Soporte las 24h del día<br><br>
        </p>
      </div>
    </div>
  </div>
</div>
