/* Estilo para el formulario */
form {
    background-color: #f8f9fa; /* Fondo gris claro */
    padding: 20px; /* Espacio interno */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra */
  }
  
  /* Estilo para el campo de texto */
  .form-control {
    border: 1px solid #ced4da; /* Borde gris */
    border-radius: 4px; /* Bordes redondeados */
  }
  
  /* Estilo para el campo de subir imagen */
  input[type="file"] {
    border: none; /* Sin borde */
    background: transparent; /* Fondo transparente */
  }
  
  /* Estilo para el botón */
  button {
    background-color: #007bff; /* Azul */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espacio interno */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }
  
  button:hover {
    background-color: #0056b3; /* Azul más oscuro en hover */
  }
  