<nav class="navbar navbar-expand-lg fixed-top bg-white transparency border-bottom border-light navbar-light" id="transmenu">
    <div class="container"><a class="navbar-brand text-success" routerLink="/home"><img style="width: 75px;height: 75px;" src='https://i.postimg.cc/027dB3dZ/LogoNube.png'>&nbsp;<strong><span style="color: rgb(0, 0, 0);">PERSSPOINNALS</span></strong></a><button data-bs-toggle="collapse" class="navbar-toggler collapsed" data-bs-target="#navcol-1"></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#unique-container"><span style="color: rgb(0, 0, 0);">FUNCIONES</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#Mem"><span style="color: rgb(0, 0, 0);">MEMBRESIAS</span></a></li>
                <li class="nav-item">
                    <button class="btn btn-success" id="Registrar" type="button" routerLink="/login-registro">Sign Up</button>
                  </li>

            </ul>
        </div>
    </div>
</nav>